@media screen and (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
  }
  .main {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("mtv1.jpeg") no-repeat;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
  .header {
    height: 15%;
    width: 100vw;
    background: linear-gradient(rgb(178, 206, 75), #777eca);
    position: relative;
  }
  .txt-header {
    font-size: 2.5rem;
    font-style: italic;
    font-family: fantasy;
    padding: 2% 40% 2% 40%;
    position: absolute;
  }
  .new-taskbtn-area {
    width: 100vw;
    height: 10%;
    padding: 3% 40% 0 40%;
  }
  .new-taskbtn {
    height: 55%;
    background: linear-gradient(rgb(245, 183, 125), #b591e5);
    font-size: 18px;
    font-family: fantasy;
    font-style: italic;
    border-radius: 10%;
    padding: 6px;
  }
  .modal {
    height: 15%;
    width: 100vw;
    flex: display;
    justify-content: space-between;
    align-items: space-between;
  }
  .container {
    height: 15%;
    width: 100vw;
  }
  .pr-dpdn {
    width: 3%;
    height: 25px;
    padding-left: 0.5%;
    background-color: rgb(241, 227, 153);
    border-radius: 10%;
    font-family: fantasy;
    font-style: italic;
    font-weight: 800;
  }
  .tsk-txt {
    width: 40%;
    height: 25px;
    padding-left: 0.5%;
    background-color:  rgb(241, 227, 153);
    font-style: italic;
    border-radius: 8%;
  }
  .tsk-dt {
    width: 10%;
    height: 25px;
    padding-left: 0.5%;
    background-color: rgb(241, 227, 153);
    font-style: italic;
    border-radius: 10%;
  }
  .lbl {
    font-family: fantasy;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    padding: 0 1% 0 4%;
  }
  .cancel-add-btn-area {
    padding: 1.5% 0 0 40%;
  }
  .cancel-add-btns {
    height: 2%;
    width: 10%;
    font-family: fantasy;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(rgb(224, 122, 48), rgb(167, 240, 160));
    border-radius: 10%;
    text-align: center;
    padding-top: 0.3%;
  }
  .todo-txt {
    height: 35px;
    font-size: 25px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 700;
    margin: 0 0 0 2%;
  }
  .modal {
    display: none;
  }
  .todo-table {
    width: 80%;
    margin: 0 8% 0 2%;
  }
  .th {
    background: rgb(218, 226, 209);
    font-style: italic;
  }
  .tcell {
    border: none;
    background: url("mtv1.jpeg") no-repeat;
    font-style: italic;
    font-size: 16px;
  }
  .t-todo {
    width: 100%;
  }
  .btn-delete {
    border: none;
    background: none;
  }
  .todo-delete-all {
    width: 80%;
    height: 20px;
  }
  .btn-deleteAll {
    width: 15%;
    height: 35px;
    padding-top: 5px;
    margin: 1% 8% 0 50%;
    font-family: fantasy;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(rgb(121, 160, 243), rgb(241, 100, 95));
    border-radius: 11%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  .main {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: url("mtv1.jpeg") no-repeat;
    display: flex;
    flex-direction: column;
  }
  .header {
    height: 10%;
    width: 100vw;
    background: linear-gradient(rgb(178, 206, 75), #777eca);
    position: relative;
  }
  .txt-header {
    font-size: 1.5rem;
    font-style: italic;
    font-family: fantasy;
    padding: 5% 20% 2% 30%;
    position: absolute;
  }
  .new-taskbtn-area {
    width: 100vw;
    height: 8%;
    padding: 4% 40% 0 25%;
  }
  .new-taskbtn {
    height: 45%;
    background: linear-gradient(rgb(245, 183, 125), #b591e5);
    font-size: 18px;
    font-family: fantasy;
    font-style: italic;
    border-radius: 10%;
    padding: 3px;
    margin-top: 7px;
    margin-bottom: 2px;
  }
  .modal {
    height: 15%;
    width: 100vw;
    flex: display;
    justify-content: space-between;
    align-items: space-between;
  }
  .container {
    height: 15%;
    width: 100vw;
  }
  .pr-dpdn {
    width: 12%;
    height: 25px;
    padding-left: 0.5%;
    background-color: rgb(224, 206, 121);
    border-radius: 14%;
    margin-right: 50%;
    margin-bottom: 3%;
    font-family: fantasy;
    font-style: italic;
    font-weight: 800;
    border: 1px solid black;
  }
  .tsk-txt {
    width: 40%;
    height: 25px;
    padding-left: 0.5%;
    padding-right: 35%;
    background-color: rgb(224, 206, 121);
    font-style: italic;
    border-radius: 8%;
    margin-bottom: 3%;
    font-family: fantasy;
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
  }
  .tsk-dt {
    width: 35%;
    height: 25px;
    padding-left: 0.5%;
    background-color: rgb(224, 206, 121);
    font-style: italic;
    border-radius: 10%;
  }
  .lbl {
    font-family: fantasy;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    padding: 0 1% 0 4%;
  }
  .cancel-add-btn-area {
    padding: 1.5% 0 2% 30%;
    margin: 5px 0 5px 0;
  }
  .cancel-add-btns {
    width: 27%;
    height: 30px;
    padding-top: 4px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(rgb(224, 122, 48), rgb(167, 240, 160));
    border-radius: 10%;
    text-align: center;
  }
  .todo-txt {
    height: 35px;
    font-size: 22px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 700;
    margin: 0 0 0 2%;
  }
  .todo-table-content {
    overflow-x: auto;
    overflow-y: auto;
  }
  .todo-content {
    margin: 16% 0 0 0;
  }
  .todo-table {
    width: 325px;
  }
  .tcell {
    border: none;
    background: url("mtv1.jpeg") no-repeat;
    font-style: italic;
    font-size: 16px;
  }
  .t-todo {
    width: 300px;
  }
  .th {
   background: rgb(218, 226, 209);
   font-style: italic;
 }
  .btn-delete {
    border: none;
    background: none;
  }
  .todo-delete-all {
    width: 80%;
    height: 50px;
  }
  .btn-deleteAll {
    width: 30%;
    height: 30px;
    margin: 3% 8% 0 50%;
    padding-top: 4px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(rgb(121, 160, 243), rgb(241, 100, 95));
    border-radius: 11%;
    text-align: center;
  }
}
